
services:
  gateway:
    #network_mode: host
    #ports: !reset []
    #volumes:
    #  - ${DATA_PATH}/tmp:/tmp/openclaw

  cli:
    #network_mode: host
    #volumes:
    #  - ${DATA_PATH}/tmp:/tmp/openclaw
