name: clawcube

x-volumes: &claw-volumes
  - ../../data/openclaw/home:/home/claw
  - ../../data/openclaw/log:/tmp/openclaw

services:
  gateway:
    #network_mode: host
    #ports: !reset []
    volumes: *claw-volumes

  cli:
    #network_mode: host
    volumes: *claw-volumes
