name: clawcube

services:
  gateway:
    #network_mode: host
    #ports: !reset []
    #volumes:
    #  - ../data/home:/home/claw
    #  - ../data/tmp:/tmp/openclaw

  cli:
    #network_mode: host
    #volumes:
    #  - ../data/home:/home/claw
    #  - ../data/tmp:/tmp/openclaw
